//Poppins
@font-face {
    font-family: "popp";
    src: url("../font/Poppins-Bold.ttf"), url("../font/Poppins-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "popp";
    src: url("../font/Poppins-Light.ttf"), url("../font/Poppins-Light.woff");
    font-weight: 300;
}

@font-face {
    font-family: "popp";
    src: url("../font/Poppins-Medium.ttf"), url("../font/Poppins-Medium.woff");
    // font-weight: 500;
}

@font-face {
    font-family: "popp";
    src: url("../font/Poppins-Regular.ttf"), url("../font/Poppins-Regular.woff");
    font-weight: 100;
}


//Rajdhani
@font-face {
    font-family: "rajd";
    src: url("../font/Rajdhani-Regular.ttf"), url("../font/Rajdhani-Regular.woff");
    font-weight: 100;
}

@font-face {
    font-family: "rajd";
    src: url("../font/Rajdhani-Light.ttf"), url("../font/Rajdhani-Light.woff");
    font-weight: 300;
}

@font-face {
    font-family: "rajd";
    src: url("../font/Rajdhani-Medium.ttf"), url("../font/Rajdhani-Medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: "rajd";
    src: url("../font/Rajdhani-Bold.ttf"), url("../font/Rajdhani-Bold.woff");
    font-weight: bold;
}