.wrapper {
    .main-content {
        .header {
            padding: 15px 0;
            background-color: #fff;
            display: flex;

            &-options {
                display: flex;
                justify-content: space-between;
                flex-basis: 90%;

                li {
                    display: inline-block;
                }
            }

            .profile-info {
                flex-basis: 10%;

            }
        }
    }
}