.wrapper {
    .main-content {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            background-color: #fff;

            &-options {
                display: flex;
                justify-content: space-between;
                align-items: center;

                ul {
                    margin: 0 45px;
                }

                li {
                    display: inline-block;

                    a {
                        font-size: 28px;
                        color: #929bb5;
                    }

                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }

                .profile-info {
                    position: relative;

                    img {
                        width: 65px;
                        height: 65px;
                        border-radius: 50%;
                        margin: auto;
                    }
                }
            }
        }
    }
}